{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src = "{{ form.picture }}" class="img-fluid" alt=""></div>
          <div class="col-7">

            <section class="teacher=info">

              <h1 class="h2">{{ form.name }}</h1>
              <p>{%- for i in form.goals %}
                <span class="badge badge-secondary mr-2">{{ goals[i] }}
              </span>{% endfor %}
              Рейтинг: {{ form.rating }} Ставка: {{ form.price }} / час</p>
              <p>{{ form.about}}</p>

            </section>

            <section class="available">

              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
              {% for key, value in week.items() %}
              <h6 class="mt-4">{{ key }}</h6>
              {% if value|length > 0 %}
              {% for i in value %}
              <a href="/booking/{{ form.id }}/{{ week_reverse[key] }}/{{ i | replace(":", "_") }}" class="btn btn-outline-success mr-2">{{ i }} свободно</a>
              {% endfor %}
              {% else %}<p>Нет свободных уроков</p>{% endif %}
              {% endfor %}
              
            </section>

          </div>
        </article>
      </div>

    </div>
  </main>
  {% endblock %}